
<ul>
<li><a href='/all'>List All Books</a></li>
<li><a href='/new'>Add A New Book</a></li>
<li><a href='/search'>Search for a book</a></li>
<li><a href='/esearch'>Elasticsearch for a book</a></li>
<li><a href='/hesearch'>Hydrated Elasticsearch for a book</a></li>

</ul>
